# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Dependency directories ===
node_modules/
.venv/
__pycache__/
*.pyc

# === Build output ===
dist/
dist-ssr/
build/
coverage/

# === Environment variables ===
.env
.env.local
.env.*.local
*.local

# === OS & Editor files ===
.DS_Store
Thumbs.db

# === IDE/editor folders ===
.vscode/
!.vscode/extensions.json
.idea/

# === Misc project files ===
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# === Temporary api for testing ===
tmp-api/
test.js